.DS_Store
site
.Rproj.user
.cache
.local
.config
.bash_history
.Rhistory
.Rprofile
single_cell_course
cellranger*
# _freeze/
.quarto/
/.quarto/
/.luarc.json
~$*
.sh_history
.wget-hsts
de_genes_FindAllMarkers.csv


