@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.googleapis.com/css?family=Inter');

/*-- scss:defaults --*/
// Base document colors
$headings-font-family: 'Cabinet grotesk';
$font-family-sans-serif: 'Inter';
$code-color: #F04E26;
$link-color: #009ee3;
$navbar-bg: #0089CF;
$kbd-color: #F04E26;
$kbd-bg: #F04E26;
$pre-color: #747473;
